.preview-text {
  width: 100%;
  height: auto;
  padding: 5px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  * {
    margin: 5px 0 5px 0;
  }
  pre {
    width: 100%;
    background-color: #FFFFFF;
  }
  code {
    background-color: #FFFFFF;
  }
  .table-container{
    height: 400px;
    width: 400px;
    margin: 0 auto;
  }
  img{
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  table{
    width: 100%;
    border-collapse: collapse;

  }
  th, td{
    border: 1px solid #000000;
    padding: 5px;
  }
}
